#cart {
    background-color: rgb(243, 234, 241);
    margin: 20px 150px 20px 150px;
    border-radius: 15px;
    padding: 20px;
}

#row, .rowCommand {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    //margin-bottom: 5px;
    p {
        text-align: center;
        margin: 5px;
    }
}

#row p {
    text-decoration: underline;
}

.cart {
    display: flex;
    align-items: center;
}

#total {
    margin-top: 30px;
    text-align: center;
}

#contact, #yourCart{
    p {
        text-align: center;
    }
}

#contactInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    input {
        margin: 10px;
    }
}

#submit {
    text-align: center;
    margin-top: 20px;
    
    a {
        background-color: red;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
        font-weight: bolder;
        color: white;
        border: 2px solid transparent;
        border-radius: 10px;
        transition: all 0.4s;
        &:hover {
            border: 2px solid white;
            background-color: rgb(6, 138, 34);    
            box-shadow: 2px 2px 8px rgb(78, 9, 1);      
        }
    } 
}

#clearCart {
    margin-bottom: 15px;
    p {
        background: red;
        color: white;
        padding: 10px;
        border-radius: 15px;
        display: inline;
        cursor: pointer;
        &:hover {
            background-color: rgb(6, 138, 34);    
            box-shadow: 2px 2px 8px rgb(78, 9, 1); 
        }
        
    }
}