#terminate {
    text-align: center;
    margin: 120px 150px 50px 150px;
    border: 1px solid rgb(90, 9, 1);
    border-radius: 15px;
    padding: 20px 0 20px 0;
}

#confirm, #result {
margin-bottom: 20px;
}

