article {
    border: 1px solid rgb(142, 88, 254);
    border-radius: 10px;
    padding: 10px;

    img {      
        width: 80%;
        object-fit: cover;    
        border-radius: 10px;
        margin-bottom: 10px;
        margin-right: 10px;
          
    }  
}

/*.group {
    display: flex;
    justify-content: space-between;
}*/

.name {
    margin-bottom: 10px;
}
.famous {
    display: flex;
    
    margin: 10px 0 10px 0;
}

.avis {
    margin-right: 10px;
}


