#loader {
    position: fixed;
    z-index: -1;
    height: 100%;
    width: 100%;
    display: flex;
   flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    animation: bg 3s ease-in-out;
    opacity: 0;
    img {
        border-radius: 15px;
        margin-top: 50px;
        
    }
}

.circle-loader {
    display: flex;
    z-index: 0;
    animation: spin 0.5s linear infinite;
    opacity: 0;
    border: 3px solid rgb(70, 70, 131);
    border-bottom: 3px solid transparent;
    border-radius: 50%;
    height: 150px;
    width: 150px;
}

@keyframes bg {
    0% {
        color: black;
        opacity: 1;
        z-index: 9998;
    }
    50% {
        color: black;
        opacity: 1;
        z-index: 9998;
    }
    100% {
        opacity: 0;
        z-index: 9998;
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
        opacity: 1;
        z-index: 9999;
    }
    100% {
        transform: rotate(360deg);
        opacity: 1;
        z-index: 9999;
    }
}