.contain {
    background-color: rgb(243, 234, 241);
    margin: 20px 30px 20px 30px;
    border-radius: 15px;

    a {
        text-decoration: none;
        color: black;
        transition: all 0.4s;
        &:hover {
            box-shadow: 5px 5px 5px rgba(142, 88, 254, 0.4);
            border-radius: 15px;
        }
    }
    
}

#products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
    gap: 20px;
}

@media only screen and (max-width : 767px) {
     #products {
        display: flex;
        flex-direction: column;
    }
}

